.NavbarItems {
    background-color: grey;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 30px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}
